{% extends 'accueil/index.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<div class="col-12 tm-block-col">
    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
        <h2 class="tm-block-title">Liste des produits</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#id</th>
                        <th scope="col">Libelle</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Categorie</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produit in produits %}
                        <tr>
                            <td>{{ produit.id }}</td>
                            <td>{{ produit.libelle }}</td>
                            <td>{{ produit.stock }}</td>
                            <td>{{ produit.categorie }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Aucun enregistrement trouve</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
     <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Ajouter un produit</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form name="produit" action="" class="tm-edit-product-form">
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >Libelle
                    </label>
                    <input id="name" name="Libelle" type="text" value="" class="form-control validate"
                      required/>
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="categorie" name="categorie"
                      >Categorie</label
                    >
                    <select
                      class="custom-select tm-select-accounts"
                      id="categorie" value=""
                    >
                      <option selected>Selectionner une categorie</option>
                    {% for categorie in categories %}
                      <option>{{categorie.nomCat}}</option>
                    {% else %}
                      <option selected>Aucune categorie enregistree</option>
                    {% endfor %}
                    </select>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                <div class="row">
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label
                            for="stock"
                            >Stock
                          </label>
                          <input
                            id="stock"
                            name="stock"
                            type="text"
                            class="form-control validate"
                            required
                          />
                        </div>
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="user"
                      >Utilisateur</label
                    >
                    <select
                      class="custom-select tm-select-accounts"
                      id="user" value="" name="user"
                    >
                      <option selected>{{ app.user.id }} {{ app.user.prenomUser }} {{ app.user.nomUser }}</option>
                    </select>
                  </div>
              </div>
              <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block text-uppercase">{{ button_label|default('Ajouter') }}</button>
              </div>
            </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>  



{% endblock %}
